
// This is where we drop WIP code while prototyping. It should be cleaned up
// and removed once work is done.

.hack-nav {
  overflow: auto;
  margin: 0;
  padding: ($v-spacing / 2) 0;
  text-align: center;
  border-bottom: 1px solid #eee;

  ul {
    clear: both;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding: 0 0.5em;
  }

  .active a {
    text-decoration: underline;
  }
}

.hack-logo {
  float: left;
  margin-left: $h-spacing;
}

.gh-link {
  float: right;
  margin-right: $h-spacing;
}

.hack-logo,
.gh-link {
  font-weight: 600;
}

.land-down-under {
  padding: ($v-spacing / 2) 0;
  border-top: 1px solid #eee;
}
