// TODO: PICKFRAMEWORK: Choose the one you want and comment/delete the other one
// =======================================
// Foundation
@import "settings"; // Remove this file if you remove Foundation
@import "foundation.scss"; // This is being pulled from the bower_components

// Bootstrao
// $icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// @import "stylesheets/bootstrap.scss";


// THE REST OF IT
// Now on to the other bits
// =======================================