---
title: TODO Welcome to Riggings
---

<div class="row column text-center">
  <h1>Let's start Rigging!</h1>
  <p>Well, this might look artocious, but we wanted a nice, clean template to kick off with, and that's what we've got!</p>
</div>
