---
title: TODO Welcome to Riggings
---

<header class="hero text-center">

  <h1 class="push-down wow fadeIn">Let&rsquo;s get Rigging!</h1>

  <p class="wow fadeIn" data-wow-delay="0.2s">Choose between <a href="http://foundation.zurb.com/" target="_blank">Foundation for Sites</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> as your base framework.</p>

  <p class="push-down wow fadeIn" data-wow-delay="0.3s">Then enjoy easy-breeze prototyping with the help of a bunch of our custom utility classes.</p>

  <span class="wow fadeIn" data-wow-delay="0.5s">
    <a class="button" href="https://github.com/wearehanno/riggings"><i class="fa fa-github"></i> Get it on Github</a>
  </span>

</header>

<% content_for :pagescripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
